:root {
  --Scissors-Gradient: linear-gradient(to right, hsl(39, 89%, 49%),hsl(40, 84%, 53%));
  --Paper-Gradient: linear-gradient(to right, hsl(230, 89%, 62%),hsl(230, 89%, 65%)) ;
  --Rock-Gradient: linear-gradient(to right, hsl(349, 71%, 52%),hsl(349, 70%, 56%));
  --Lizard-Gradient: linear-gradient(to right, hsl(261, 73%, 60%),hsl(261, 72%, 63%));
  --Spock-Gradient: linear-gradient(to right, hsl(189, 59%, 53%),hsl(189, 58%, 57%));;
  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);
  --Radial-Gradient: radial-gradient(circle at center, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100dvh;
  background: var(--Radial-Gradient);
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #fff;
}

header {
  padding: 6rem;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100dvh;
}

.game-header {
  border: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 3rem;
  border-radius: 1.5rem;
  font-size: 4rem;
}

.score {
  padding: 3rem;
  background: #fff;
  color: var(--Dark-Text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem;
}

.game-body {
  width: 100%;
}

.game-items {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.game-items img {
  width: 70%;
  height: auto;
}

.game-items .border {
  position: absolute;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  cursor: pointer;
}

.border div {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  padding: 2rem;
  height: 100%;

}

.iconPaper {
  top: -12rem;
  left: 0;
  background: var(--Paper-Gradient);
}

.iconRock {
  bottom: 0;
  background: var(--Rock-Gradient);
}

.iconScissors {
  top: -12rem;
  right: 0;
  background: var(--Scissors-Gradient);
}


.game-footer {
  margin-top: 10rem;
}

.game-footer button {
  padding:  2rem 3rem;
  border: .5rem solid #fff;
  background-color: transparent;
  border-radius: 1rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  font-size: 4rem;
  margin: 2rem;
  cursor: pointer;
}

/* Modal Part */

.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  font-size: 5rem;
  height: 100%;
  color: var(--Dark-Text);
  font-weight: bold;
  padding: 4rem;
}

.modal-content button {
  font-size: 10rem;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-content img {
  width: 100%;
}