:root {
  --Scissors-Gradient: linear-gradient(to right, hsl(39, 89%, 49%),hsl(40, 84%, 53%));
  --Paper-Gradient: linear-gradient(to right, hsl(230, 89%, 62%),hsl(230, 89%, 65%)) ;
  --Rock-Gradient: linear-gradient(to right, hsl(349, 71%, 52%),hsl(349, 70%, 56%));
  --Lizard-Gradient: linear-gradient(to right, hsl(261, 73%, 60%),hsl(261, 72%, 63%));
  --Spock-Gradient: linear-gradient(to right, hsl(189, 59%, 53%),hsl(189, 58%, 57%));;
  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);
  --Radial-Gradient: radial-gradient(circle at center, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--Radial-Gradient);
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #fff;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  height: 100%;
  height: 100vh;
}

header, main {
  width: 730px;
}

.game-header {
  border: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 1.5rem;
  border-radius: .8rem;
  font-size: 2.3rem;
  width: 100%;
}

.score {
  padding: 1rem;
  background: #fff;
  color: var(--Dark-Text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}


.game-field {
  display: none;
  justify-content: space-between;
}

main {
  flex-grow: 1;
  display: flex;
  padding-top: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-items {
  position: relative;
}

.game-items .border {
  position: absolute;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.border div {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  padding: 1.5rem;
  height: 100%;
}

.border div img {
  width: 100%;
}

.iconPaper {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background: var(--Paper-Gradient);
}

.iconRock {
  background: var(--Rock-Gradient);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.iconScissors {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background: var(--Scissors-Gradient);
}

.game-footer button {
  padding:  .8rem 1.5rem;
  border: .2rem solid #fff;
  background-color: transparent;
  border-radius: 1rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  cursor: pointer;
}

/* Modal Part */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(10, 10, 10, 0.502);
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  font-size: 3rem;
  color: var(--Dark-Text);
  font-weight: bold;
  margin: 0 auto;
}

.modal-content button {
  font-size: 3rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Attack field */

.game-field {
  display: none;
  justify-content: space-between;
  gap: 10rem;
}

.player1, .player2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 2rem;
}

.player1-border, .player2-border{
  width: 16rem;
  height: 16rem;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 50%;
  padding: 3rem;
}

.player-border-Paper {
  background: var(--Paper-Gradient);
}
.player-border-Rock {
  background: var(--Rock-Gradient);
}
.player-border-Scissors {
  background: var(--Scissors-Gradient);
}

.player1-border div, .player2-border div {
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.player1-border div img, .player2-border div img {
  width: 100%;
  height: 100%;

}

.text {
  font-size: 2rem;
  font-weight: 600;
}


/* winner-section */

.winner-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin: 2rem auto 4rem;
}


.winner-text {
  font-size: 3rem;
  color: #fff;
}

.play-again {
  font-size: 1.8rem;
  padding: .7rem 2rem;
  background: #fff;
  color: var(--Dark-Text);
  text-transform: uppercase;
  border:2px solid white;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 1.5rem;
}

.play-again:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: var(--Radial-Gradient);
}

@media screen and (max-width: 768px) {
  header, main {
    width: 100%;
  }

  .game-header {
    font-size: 1.8rem;
  }

  .score {
    padding: .4rem;
  }

  .game-items  {
    width: 70%;
    margin: 0 auto;
  }

  .game-items img {
    width: 100%;
  }

  .game-items .border {
    width: 11rem;
    height: 11rem;

  }

  .border div {
    padding: 2rem;
  }

  .player1-border, .player2-border{
    width: 12rem;
    height: 12rem;
    padding:  1rem;
  }

  .player1, .player2 {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .game-field {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .modal-content {
    width: 100%;
    height: 100%;
  }
}